services:
  homepage:
    image: ghcr.io/gethomepage/homepage:latest
    container_name: homepage
    restart: unless-stopped
    ports:
      - "8006:3000"
    environment:
      - HOMEPAGE_ALLOWED_HOSTS=homepage.tech,127.0.0.1:8006
    volumes:
      - ./config:/app/config
      - ./images:/app/public/images
      - /var/run/docker.sock:/var/run/docker.sock:ro
