services:
  app:
    image: jc21/nginx-proxy-manager:latest
    container_name: npm-app-1
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
      - "8004:81"
    volumes:
      - ./data:/data
      - ./letsencrypt:/etc/letsencrypt
